/dependencies/data
/.DS_Store
/build
/dependencies/PersXML.ent
/dependencies/UnicodeData-7.0.0.txt
/server/Diogenes/EntityTable.pm
/server/Diogenes/unicode-equivs.pl
/electron
/app
/server/fonts
/install
/server/favicon.ico

# Elastic Beanstalk Files
#.elasticbeanstalk/*
#!.elasticbeanstalk/*.cfg.yml
#!.elasticbeanstalk/*.global.yml
#!.elasticbeanstalk/config.yml
